.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    max-width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    background-color: #10141A;
}

.hero-text {
    max-width: 500px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #FCFCFC;
}

.hero h2 {
    font-size: 28px;
    color: #A0ABB0;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: #F6F9F6;
}

.btn-group {
    display: flex;
    gap: 20px;
    margin-top: 30px;

}

.btn1 {
    display: inline-block;
    padding: 20px 30px;
    background-color: #273E5D;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
}

.btn2 {
    display: inline-block;
    padding: 20px 30px;
    background-color: #0F1419;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #1D232B;
}

.hero-image img {
    width: 400px;
    border-radius: 20%;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #0E0E0E;
    color: #0E0E0E;
}